*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(250, 101, 47);
    padding: 1%;
    font-family: 'Poppins', sans-serif;
}
header a{
    text-decoration: none;
    padding-left: 1em;
    color: black;
    font-size: large;
}
#home{
    font-family: "Nunito", sans-serif;
    background-image: url(/crousal.jpg);
    height: 95vh;
    background-size: cover;
    
    justify-content: center;
}
#home h1{
    font-size: 5em;
    text-align: center;
    position: relative;
    top: 20%;
    left: 10%;
    padding: 1.5em;
    background-color: rgba(255, 255, 255, 0.477);
    width: 80%;
    border-radius: 30px;
}
#about{
    height: 100vh;
    padding: 4px;
}
#about p{
    font-family: 'Poppins', sans-serif;
    font-size: large;
    padding-top: 20px;
}
#about img{
    width: 30em;
    float: left;
    padding: 20px;
}
